<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
          <ul class="navbar-nav w-100 mt-2 mt-lg-0 justify-content-center text-center">
            <li class="nav-item">
              <a class="nav-link" href="/">See My Todo List<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/done">See Completed Items</a>
            </li>
          </ul>
        </div>
      </nav>