<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- ejs tags -->
    <%= title %>
    <br>



    <img src="<%= images %>" alt="">
    
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda pariatur ut iusto laudantium asperiores, consequuntur quam hic. Consequuntur blanditiis ea culpa molestias, est ipsum? Perferendis possimus eum nemo fugiat necessitatibus.
    

</body>
</html>