<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <form action="/dishes" method="POST">

        <select name="category" id="cate">
            <% categories.forEach(record => { %>
                <option value="<%= record.id %>"><%= record.name %> </option>
            <% }) %>
        </select><br>

        title: <input type="text" name="title"><br>
        description: <input type="text" name="description"><br>
        price: <input type="number" name="price" value="0"><br>
        imgURL: <input type="text" name="imgURL"><br>

        <button type="submit">submit</button>
    </form>
</body>
</html>