
.text {
    color: red;
    padding: 10px;
    background-color: bisque;
}

.button{
    padding: 20px;
}

#button-holder{
    width: 150px;
}

.title{
    font-size: 15px;
}

.author{
    font-size: 10px;
}

.image{
    width: 15vw;
}

.border1{
    border: 2px solid black;
}

.box{
    height: 70vh;
    margin: 20px;
    padding: 10px;
    background-color: white;
}

.link{
    color:black;
}

.small-font{
    font-size: 20px;
}

#body{
    background-color: rgb(243, 235, 235);
}